body {
  background-color: #e4f8fe;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.list-group-item {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

canvas {
  max-width: 100%;
  height: auto;
}

select {
  margin-bottom: 20px;
}
